nav{
    color:rgb(255, 255, 255);
    font-size: 16 px;
    margin:25px;
    padding:10px;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-between;

    main{
        color:yellow;
        font-size: 30px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin: 10px;
        padding: 10px;
        text-align: center;
        align-content: space-between;

        .Barra
            background-color: rgb(255, 255, 255);
            width:1600px;
            height:140px;
            padding:10px;
            display:inline-block;
        
    }
}

.caja{
    background-color: rgb(102, 102, 102);
    width: 1600px;
    height:150px;
    margin-bottom: 50px;
    flex-wrap: wrap;
    position:relative;
    display:block;
    justify-content: flex-start;
    align-content: space-between;

    .Buscador{
        font-size: 20px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin: 25px;
        padding: 0px;
        justify-content: flex-start;
        align-content: space-between;

        .lupa
            align-items: flex-start;
            color:white;

        .carrito
            width:40px; 
    }



}

body{
    width:1600px;
    background-color:#232526;
}

header{
    background-image: url(../imagenes/foodtruck2.jpg);
    width:1600px;
    height:625px;
    flex-wrap: wrap;
    position:static;
    background-repeat: no-repeat;
    background-size: cover;

    .Banner{
        color:rgb(255, 255, 255);
        font-size: 50px;
        margin:10px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: justify;
    }

    .contenedor{
        color:rgb(255, 255, 255);
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 60px;
        margin:0px;
        flex-direction: row;
        position:relative;
        text-align: justify;
    }
}

h1{
    color:rgb(178, 16, 48);
    font-size:  45px;
    margin: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h2{
    color:rgb(213, 144, 4);
    font-size: 30px;
    margin-top: 60px;
    margin: 15px;
    padding: 40px;
    font-family: sans-serif;
}

h3{
    color:rgb(203, 30, 30);
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: top;
    margin: 50px;
}

h4{
    color:rgb(255, 255, 255);
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    text-transform: capitalize;
}

h5{
    color:rgb(203, 30, 30);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    font-size: 28px;
    margin-top: 10px;
    bottom: 20px;
}

img{
    margin:10px;
    margin-top: 20px;
}

input{
    color:rgb(52, 47, 47);
    background-color:#FFFFFF;
    font-size: 15px;
    margin:4px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.video{
    display:inline-block;
    margin:15px;
}

nav{

.Box{
    background-color: rgb(106, 106, 104);
    width:355px;
    height:240px;
    margin:20px;
    border-radius: 5%;
}

.Box2{
    background-color: rgb(106, 106, 104);
    width:355px;
    height:280px;
    margin:20px;
    border-radius: 5%;
}

}



.cont{
   background-color: black;
   display:block;
   overflow-x: hidden;
   width:260px;
   height:270px;
   margin:30px;
   padding:0px;
   border-radius: 5%;
}

.contain{
   background-color: rgb(255, 255, 255);
   width: 255px;
   height:255px;
   border-radius: 50%;
   margin:25px;
   padding:10px;
   margin-top: 5%;
   position:relative;
}